{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <section class="hero">
        <img src="{{ asset('images/icone_loryane.png') }}" class="logo">

        <h1>Loryane <span>Essentielle®</span></h1>

        <p class="tagline">
            "Quand la lumière intérieure s’allie à la puissance de la nature"
        </p>

        <a href="{{ path('app_produits') }}" class="cta">
            Découvrir nos coffrets
        </a>
    </section>

    <section class="intro">
        <h2>Bienvenue dans notre univers bien-être</h2>
    </section>

    <section class="gallery">
        <img src="{{ asset('images/meditation-02-fevrier.jpg') }}">
        <img src="{{ asset('images/meditation-03-mars.jpg') }}">
        <img src="{{ asset('images/meditation-04-avril.jpg') }}">
        <img src="{{ asset('images/meditation-06-juin.jpg') }}">
    </section>

{% endblock %}
