{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block body %}

    <section class="profile-container">

        <h1>Modifier mon profil</h1>

        <div class="profile-form">

            {{ form_start(form) }}

            <div class="form-group">
                <label>Nom</label>
                {{ form_widget(form.nom, { attr: { class: 'input-field' } }) }}
            </div>

            <div class="form-group">
                <label>Prénom</label>
                {{ form_widget(form.prenom, { attr: { class: 'input-field' } }) }}
            </div>

            <div class="actions">
                <button type="submit" class="btn-validate">
                    Enregistrer
                </button>

                <a href="{{ path('app_profil') }}" class="btn-validate">
                    ← Retour
                </a>
            </div>

            {{ form_end(form) }}

        </div>

    </section>

{% endblock %}
