{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}

    <section class="profile-container">

        <!-- TITRE -->
        <h1 class="profile-title">Mon profil</h1>

        <!-- CARD PROFIL -->
        <div class="profile-card">

            <div class="profile-item">
                <span>Email</span>
                <strong>{{ user.email }}</strong>
            </div>

            <div class="profile-item">
                <span>Nom</span>
                <strong>{{ user.nom }}</strong>
            </div>

            <div class="profile-item">
                <span>Prénom</span>
                <strong>{{ user.prenom }}</strong>
            </div>

        </div>

        <!-- ACTION PROFIL -->
        <div class="profile-actions profile-actions-center">

            <a href="{{ path('app_profil_edit') }}"
               class="btn-profile">
                Modifier mon profil
            </a>

        </div>

        <!-- ESPACE CLIENT -->
        <h2 class="profile-title">Mon espace</h2>

        <div class="account-grid">

            <!-- COMMANDES -->
            <div class="account-card">

                <h3>Mes commandes</h3>

                <p>
                    Suivre et consulter vos achats
                </p>

                <a href="{{ path('commande_list') }}"
                   class="btn-account">
                    Voir →
                </a>

            </div>

            <!-- ADRESSES -->
            <div class="account-card">

                <h3>Mes adresses</h3>

                <p>
                    Gérer vos différentes adresses
                </p>

                <a href="{{ path('app_adresse') }}"
                   class="btn-account">
                    Gérer →
                </a>

            </div>

        </div>

    </section>

{% endblock %}
