{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}

    <section class="cart-container">

        <h1 class="cart-title">Mon profil</h1>

        <!-- CARD PROFIL -->
        <div class="cart-list">
            <div class="cart-item" style="justify-content: space-between;">

                <div class="cart-info">
                    <span class="cart-label">Email</span>
                    <p>{{ user.email }}</p>
                </div>

                <div class="cart-info">
                    <span class="cart-label">Nom</span>
                    <p>{{ user.nom }}</p>
                </div>

                <div class="cart-info">
                    <span class="cart-label">Prénom</span>
                    <p>{{ user.prenom }}</p>
                </div>

            </div>
        </div>

        <!-- CTA -->
        <div class="cart-footer">
            <a href="{{ path('app_profil_edit') }}" class="btn-validate">
                Modifier mon profil
            </a>
        </div>

        <!-- MON COMPTE -->
        <h2 class="cart-title" style="margin-top:50px;">Mon espace</h2>

        <div class="cart-list">

            <!-- COMMANDES -->
            <div class="cart-item" style="justify-content: space-between; align-items: center;">

                <div class="cart-info">
                    <h2>Mes commandes</h2>
                    <p class="cart-category-text">Suivre et consulter vos achats</p>
                </div>

                <a href="{{ path('commande_list') }}" class="btn-validate">
                    Voir
                </a>

            </div>

            <!-- ADRESSES -->
            <div class="cart-item" style="justify-content: space-between; align-items: center;">

                <div class="cart-info">
                    <h2>Mes adresses</h2>
                    <p class="cart-category-text">Gérer vos différentes adresses</p>
                </div>

                <a href="{{ path('app_adresse') }}" class="btn-validate">
                    Gérer
                </a>

            </div>

        </div>

    </section>

{% endblock %}
