{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block body %}

    <section class="cart-container">

        <h1 class="cart-title">Modifier mon profil</h1>

        <div class="cart-list">

            <div class="cart-item cart-form">

                {{ form_start(form) }}

                <div class="cart-info">
                    {{ form_row(form.nom, {
                        label_attr: { class: 'cart-label' },
                        attr: { class: 'input-field' }
                    }) }}
                </div>

                <div class="cart-info">
                    {{ form_row(form.prenom, {
                        label_attr: { class: 'cart-label' },
                        attr: { class: 'input-field' }
                    }) }}
                </div>

                <div class="cart-actions" style="margin-top:20px;">

                    <button type="submit" class="btn-validate">
                        Enregistrer
                    </button>

                    <a href="{{ path('app_profil') }}" class="btn-validate">
                        ← Retour
                    </a>

                </div>

                {{ form_end(form) }}

            </div>

        </div>

    </section>

{% endblock %}
