{% extends 'base.html.twig' %}

{% block title %}{{ produit.nom }}{% endblock %}

{% block body %}

    <div class="product-detail">

        <!-- IMAGE -->
        <div class="product-detail-image">
            <img
                src="{{ produit.image
                ? asset('uploads/' ~ produit.image)
                : asset('images/default.jpg') }}"
                alt="{{ produit.nom }}"
                onerror="this.src='{{ asset('images/default.jpg') }}'"
            >
        </div>
        <div class="add-popup">Ajouté au panier ✔</div>

        <!-- CONTENU -->
        <div class="product-detail-content">

            <!-- TITRE -->
            <h1 class="product-detail-title">{{ produit.nom }}</h1>

            <!-- CATÉGORIE -->
            <span class="product-detail-category">
            {{ produit.categorie.nom }}
        </span>

            <!-- DESCRIPTION -->
            <p class="product-detail-description">
                {{ produit.description }}
            </p>

            <!-- STOCK ADMIN UNIQUEMENT -->
            {% if is_granted('ROLE_ADMIN') %}
                <p class="product-detail-stock">
                    Stock : {{ produit.stock }}
                </p>
            {% endif %}

            <!-- PRIX -->
            <div class="product-detail-price">
                {{ (produit.prix)|number_format(2, ',', ' ') }} €
                <span>Prix TTC — ajustement au paiement</span>
            </div>

            <!-- CTA -->
            {% if produit.stock > 0 %}
                <a href="#"
                   class="btn-add-cart add-to-cart"
                   data-url="{{ path('panier_add', { id: produit.id }) }}">
                    Ajouter au panier 🧺
                </a>
            {% else %}
                <p class="out-of-stock">Rupture de stock</p>
            {% endif %}

            <!-- RETOUR -->
            <a href="{{ path('app_produits', {categorie: categorie}) }}"
               class="back-link">
                ← Retour au catalogue
            </a>

        </div>

    </div>
    <script>
        document.querySelectorAll(".add-to-cart").forEach(button => {
            button.addEventListener("click", function (e) {
                e.preventDefault();

                const url = this.dataset.url;

                const container = this.closest(".product-detail"); // important
                const popup = container.querySelector(".add-popup");

                fetch(url)
                    .then(() => {
                        popup.classList.add("show");

                        setTimeout(() => {
                            popup.classList.remove("show");
                        }, 2000);
                    });
            });
        });
    </script>
{% endblock %}
