{% extends 'base.html.twig' %}

{% block title %}Ajouter un produit{% endblock %}

{% block body %}

    <section class="cart-container">

        <h1 class="cart-title">Ajouter un produit</h1>

        <div class="cart-list">

            <div class="cart-item cart-form">

                {{ form_start(form) }}

                <div class="cart-info">
                    {{ form_row(form.nom, {
                        label_attr: { class: 'cart-label' },
                        attr: { class: 'input-field' }
                    }) }}
                </div>

                <div class="cart-info">
                    {{ form_row(form.description, {
                        label_attr: { class: 'cart-label' },
                        attr: { class: 'input-field' }
                    }) }}
                </div>

                <div class="cart-info">
                    {{ form_row(form.prix, {
                        label_attr: { class: 'cart-label' },
                        attr: { class: 'input-field' }
                    }) }}
                </div>

                <div class="cart-info">
                    {{ form_row(form.stock, {
                        label_attr: { class: 'cart-label' },
                        attr: { class: 'input-field' }
                    }) }}
                </div>

                <div class="cart-info">
                    {{ form_row(form.image, {
                        label_attr: { class: 'cart-label' },
                        attr: { class: 'input-field' }
                    }) }}
                </div>

                <div class="cart-info">
                    {{ form_row(form.categorie, {
                        label_attr: { class: 'cart-label' }
                    }) }}
                </div>

                <div class="cart-info">
                    {{ form_row(form.typePack, {
                        label_attr: { class: 'cart-label' }
                    }) }}
                </div>

                <div class="form-actions">

                    <button type="submit" class="btn-primary">
                        Créer
                    </button>

                    <a href="{{ path('admin_dashboard') }}" class="btn-secondary">
                        ← Retour admin
                    </a>

                </div>

                {{ form_end(form) }}

            </div>

        </div>

    </section>

{% endblock %}
