{% extends 'base.html.twig' %}

{% block title %}Ajouter un produit{% endblock %}

{% block body %}

    <section class="admin-container">

        <h1 class="admin-title">
            Ajouter un produit
        </h1>

        <p class="admin-subtitle">
            Créer une nouvelle fiche produit
        </p>

        <div class="admin-card">

            {{ form_start(form) }}

            <div class="form-group">
                {{ form_row(form.nom, {
                    label_attr: { class: 'form-label' },
                    attr: { class: 'form-input' }
                }) }}
            </div>

            <div class="form-group">
                {{ form_row(form.description, {
                    label_attr: { class: 'form-label' },
                    attr: { class: 'form-input' }
                }) }}
            </div>

            <div class="form-group">
                {{ form_row(form.prix, {
                    label_attr: { class: 'form-label' },
                    attr: { class: 'form-input' }
                }) }}
            </div>

            <div class="form-group">
                {{ form_row(form.stock, {
                    label_attr: { class: 'form-label' },
                    attr: { class: 'form-input' }
                }) }}
            </div>

            <div class="form-group">
                {{ form_row(form.image, {
                    label_attr: { class: 'form-label' },
                    attr: { class: 'form-input' }
                }) }}
            </div>

            <div class="form-group">
                {{ form_row(form.categorie, {
                    label_attr: { class: 'form-label' },
                    attr: { class: 'form-input' }
                }) }}
            </div>

            <div class="form-group">
                {{ form_row(form.typePack, {
                    label_attr: { class: 'form-label' },
                    attr: { class: 'form-input' }
                }) }}
            </div>

            <div class="form-actions">

                <button type="submit"
                        class="btn btn-main">
                    Ajouter
                </button>

                <a href="{{ path('app_produits') }}"
                   class="btn btn-outline">
                    ← Retour
                </a>

            </div>

            {{ form_end(form) }}

        </div>

    </section>

{% endblock %}
