{% extends 'base.html.twig' %}

{% block title %}Mes commandes{% endblock %}

{% block body %}

    <section class="cart-container">

        <h1 class="cart-title">Mes commandes</h1>

        {% for message in app.flashes('success') %}
            <p style="color:#8f4930; margin-bottom:20px;">
                {{ message }}
            </p>
        {% endfor %}

        {% if commandes is empty %}
            <p class="cart-empty">Aucune commande pour le moment</p>
        {% else %}

            <div class="cart-list">

                {% for commande in commandes %}
                    <div class="cart-item">

                        <!-- INFOS -->
                        <div class="cart-info">
                            <h2>
                                Commande #{{ commande.id }}
                                <span class="cart-date-inline"> {{ commande.date|date('d/m/Y H:i') }}</span>
                            </h2>
                            {% set statutLabel = {
                                'pending': 'En attente',
                                'paid': 'Payée',
                                'shipped': 'Expédiée',
                                'cancelled': 'Annulée'
                            }[commande.statut] ?? commande.statut %}

                            <p class="cart-category">
                                Statut :
                                <span class="status status-{{ commande.statut }}">{{ statutLabel }}</span>
                            </p>
                        </div>

                        <!-- TOTAL -->
                        <div class="cart-total">
                            {{ commande.total|number_format(2, ',', ' ') }} €
                        </div>

                        <!-- ACTION -->
                        <div class="cart-actions">
                            <a href="{{ path('commande_detail', {id: commande.id}) }}">
                                Voir
                            </a>

                        </div>

                    </div>
                {% endfor %}

            </div>

        {% endif %}
        <a href="{{ path('app_profil') }}" class="btn-retour">
            ← Retour au profil
        </a>
    </section>

{% endblock %}
