{% extends 'base.html.twig' %}

{% block title %}Modifier adresse{% endblock %}

{% block body %}

    <section class="profile-container">

        <h1 class="address-title">Modifier une adresse</h1>

        <div class="profile-form">

            {{ form_start(form) }}

            <div class="form-group">
                {{ form_row(form.numero) }}
            </div>

            <div class="form-group">
                {{ form_row(form.typeVoie) }}
            </div>

            <div class="form-group">
                {{ form_row(form.nomVoie) }}
            </div>

            <div class="form-group">
                {{ form_row(form.ville) }}
            </div>

            <div class="form-group">
                {{ form_row(form.codePostal) }}
            </div>

            <div class="form-group">
                {{ form_row(form.pays) }}
            </div>

            <div class="form-group">
                {{ form_row(form.nom) }}
            </div>

            <div class="form-group">
                {{ form_row(form.prenom) }}
            </div>

            <div class="form-group">
                {{ form_row(form.type) }}
            </div>

            <div class="actions">

                <button type="submit" class="btn-profile">
                    Modifier
                </button>

                <a href="{{ path('app_adresse') }}"
                   class="btn-account">
                    ← Retour
                </a>
            </div>

            {{ form_end(form) }}

        </div>

    </section>

{% endblock %}
