{% extends 'base.html.twig' %}

{% block title %}Nouvelle catégorie{% endblock %}

{% block body %}

<section class="admin-container">

<h1>Créer une catégorie</h1>

    {{ form_start(form) }}
    {{ form_row(form.nom) }}
    {{ form_row(form.slug) }}
    {{ form_row(form.description) }}

<button type="submit" class="btn btn-primary">
Enregistrer
</button>

    {{ form_end(form) }}

</section>
  {% endblock %}
